<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HotelRoom - Login</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/styles/main.css" rel="stylesheet" />
  </head>
  <body>
    <h1 id="title">Login</h1>
    <form id="login-form" action="/login" method="post">
      <label for="username" id="username-label">Username:</label>
      <input type="text" id="username" name="username" />

      <label for="password" id="password-label">Password:</label>
      <input type="password" id="password" name="password" />

      <p id="error-message"><%= message %></p>

      <button type="submit" id="login-button">Login</button>
    </form>
  </body>
</html>
