<!-- add-room.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Room</title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
      .container {
        margin: 20px;
      }

      h1 {
        color: #007bff;
        margin-bottom: 20px;
      }

      form {
        max-width: 600px;
        margin: 0 auto;
      }

      label {
        display: block;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
      }

      button {
        display: block;
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        margin: 20px 0px;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #0056b3;
      }

      #login-error {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Add a New Room</h1>
      <form onsubmit="onSubmitAddNewRoom(event)">
        <label for="hotelName">Hotel Name:</label>
        <input type="text" id="hotelName" name="hotelName" required />

        <label for="roomNumber">Room Number:</label>
        <input type="number" id="roomNumber" name="roomNumber" required />

        <label for="pricePerNight">Price per Night:</label>
        <input type="number" id="pricePerNight" name="pricePerNight" required />

        <label for="bedType">Bed Type:</label>
        <input type="text" id="bedType" name="bedType" required />

        <label for="maxOccupancy">Max Occupancy:</label>
        <input type="number" id="maxOccupancy" name="maxOccupancy" required />

        <label for="availability">Availability:</label>
        <select id="availability" name="availability" required>
          <option value="true">Available</option>
          <option value="false">Not Available</option>
        </select>
        <button type="submit">Add Room</button>
      </form>
      <p id="room-error" class="error"></p>
    </div>
    <script src="/js/room.js"></script>
  </body>
</html>
